/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: lightseagreen;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
}

#left {
  padding: 20px;
  color: white;
  background-color: #666;
  float: left;
}

#middle {
  padding: 20px;
  color: white;
  background-color: #888;
  float: left;
}

#right {
  padding: 20px;
  color: #333;
  background-color: #fff;
}

#full {
  padding: 20px;
  color: #333;
  background-color:  #eee;
}

#division {
  color: #333;
  background-color: #6ea3da;
}

aside {
  color: #333;
  background-color: #fff;
}

footer {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}
